<footer class="footer">
  <p>&lt;3</p>
  <p>Forked from <a href="https://twitter.com/mdo">@mdo</a>'s <a href="http://codeguide.co">Code Guide</a> by <a href="https://twitter.com/tagsoup">@tagsoup</a>, in part to incorporate additional concepts from <a href="http://pointnorth.io">North</a>.</p>
  <p>Open sourced under MIT. Copyright {{ site.time | date: '%Y' }} <a href="https://twitter.com/tagsoup">@tagsoup</a>.</p>

  <ul class="quick-links">
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=smt&repo=code-guide&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
    </li>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=smt&repo=code-guide&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
    </li>
  </ul>
  <ul class="quick-links">
    <li class="follow-btn">
      <a href="https://twitter.com/tagsoup" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @tagsoup</a>
    </li>
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}" data-count="horizontal" data-via="tagsoup">Tweet</a>
    </li>
  </ul>
</footer>
